{% extends "new_plant.html" %}

{% block titulo %}
	Usuarios
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock css %}

{% block content %}

	<div class="container">
		<h1 class="mt-4"><i class="fas fa-file-alt"></i> {{mensaje}}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{mensaje}}</li>
        </ol>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-12">
					<article class="post clearfix">

						<div class="card mb-4">
                            <div class="card-header">
                                <i class="fa fa-users"></i>
								<strong>
                                	Usuarios
								</strong>
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
											<th>#</th>
											<th>Usuario</th>
											<th>Correo</th>
											<th>Unidad</th>
											<th>Seleccionar</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
											<th>Usuario</th>
											<th>Correo</th>
											<th>Unidad</th>
											<th>Seleccionar</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for usuario in usuarios %}
											<tr>
												<td align="center" width="50">{{forloop.counter}}</td>
												<td>{{usuario.first_name}} {{usuario.last_name}} {{usuario.amaterno}}</td>
												<td>{{usuario.email}}</td>
												<td>{{usuario.unidad_user}}</td>
												<td width="90" align="center">
													{% if usuario.is_active == True %}
														<a href = "{% url "reporte_usuario" pk=usuario.id %}" type="button" class="btn btn-primary btn-sm" title="Generar"><i class="fas fa-file-download"></i></a>
													{% endif %}
												</td>
											</tr>
										{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

					</article>
				</section>
			</div>
		</section>
		<p align="center">
			<a href = "/reportes_menu" type="button" class="btn btn-secondary">Regresar</a>
		</p>
	</div>

{% endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

	<script type="text/javascript">

		$(document).ready( function () {
			$('#tablita').DataTable({
				"paging":false,
				"language": {
					"url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
				},
			});
		} );

	</script>

	<script src="http://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

{% endblock %}