{% extends "new_plant.html" %}
{% block titulo %}
	Tipo de expediente
{% endblock titulo %}

{% block content %}
	<section class="main container">
		<h1 class="mt-4"><i class="fas fa-archive"></i> {{mensaje}}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{tipo.nombre}}</li>
        </ol>
			<form method="POST">
				{% csrf_token %}
				<div class="class">
					<div class="col-md-12">
						<strong>Nombre:</strong>
						{% if error == "nombre" %}
							<li> <strong>Ya existe una Tipo de expediente con este Nombre.</strong></li>
						{% endif %}
						<input type="text" class="form-control" id="nombre" name="nombre" value="{{tipo.nombre}}" required/>
					</div>
				</div>

				<div class="class">
					<div class="col-md-12">
						<strong>Siglas:</strong>
						{% if error == "siglas" %}
							<li> <strong>Ya existe una Tipo de expediente con estas Siglas.</strong></li>
						{% endif %}
						<input type="text" class="form-control" id="siglas" name="siglas" value="{{tipo.siglas}}" maxlength="3" required/>
					</div>
				</div>

				<div class="class">
					<div class="col-md-12">
						<strong>Unidad:</strong>
						<select id="unidad" name="unidad" class="form form-control" required>
							<option  value="" selected="selected">--- SELECT ---</option>
							{% for unidad in unidades %}
								<option value="{{unidad.pk}}"
									{% if unidad == tipo.unidad %}selected="selected"{% endif %}>
									{{unidad.nombre|capfirst}}
								</option>
							{% endfor %}
						</select>
					</div>
				</div>

				{% if tipo.activo %}
					<label><input type="checkbox" id="activo" name="activo" checked> Activo</label><br>
				{% else %}
					<label><input type="checkbox" id="activo" name="activo"> Activo</label><br>
				{% endif %}


				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4" align="center">
						<a href = "/tipos_expedientes" type="button" class="btn btn-secondary">Cancelar</a>
						<input type = "submit" class="btn btn-primary" value = "Guardar" />
					</div>
					<div class="col-md-4"></div>
				</div>
				
			</form>
	</section>
{% endblock %}

{% block scripts %}

	<script>
		$(function(){
		window.onload = function() {
			console.log("onload");
		}

		$("#siglas").keyup(function () {  
			$(this).val($(this).val().toUpperCase());  
		});

	});
	</script>

{% endblock %}