{% extends "base.html" %}
{% block titulo %}
	Tipo de expediente
{% endblock titulo %}

{% block content %}
	<section class="main container">
		<h1> {{mensaje}}</h1>
			<form method="POST">
				{% csrf_token %}
					{{ form.as_p }}

					<input type = "submit" class="btn btn-primary" value = "Guardar" />
					<a href = "/tipos_expedientes" type="button" class="btn btn-primary">Cancelar</a>
			</form>
	</section>
{% endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

{% endblock %}