{% extends "base.html" %}

{% block titulo %}
	Tipos de expedientes
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock css %}

{% block content %}

	<div class="container">
		<h1>{{mensaje}}</h1>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-12">
					<article class="post clearfix">
						<div class="table-responsive">
							<table class="table table-hover" id="tablita">
								<thead>
									<tr align="center">
										<th>#</th>
										<th>Nombre</th>
										<th>Estatus</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% for tipo in tipos %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{tipo.nombre}}</td>
											<td>{{tipo.descripcion}}
												{% if tipo.activo %}
													<p>Activo</p>
												{% else %}
													<p>Inactivo</p>
												{% endif %}
											</td>
											<td>
												<a href = "javascript: if(confirm('Deseas editar {{tipo}}??')) window.location='{% url "editar_tipo_exp" pk=tipo.id %}'" type="button" class="btn btn-primary glyphicon glyphicon-pencil"></a>
												<a href = "javascript: if(confirm('Deseas eliminar {{tipo}}??')) window.location='{% url "eliminar_tipo_exp" pk=tipo.id %}'" type="button" class="btn btn-primary glyphicon glyphicon-remove"></a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</article>
				</section>
			</div>
		</section>
		<p align="center">
			<a href = "/principal/" type="button" class="btn btn-primary">Regresar</a>
			<a href = "{% url 'nuevo_tipo_exp' %}" type="button" class="btn btn-primary">Nuevo tipo de expediente</a>
		</p>
	</div>

{% endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

	<script type="text/javascript">

		$(document).ready( function () {
			$('#tablita').DataTable({
				"paging":false,
				"language": {
					"url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
				},
			});
		} );

	</script>

	<script src="http://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

{% endblock %}