<!--.\unidad\edita_unidad.html-->
{% extends "new_plant.html" %}
{% block titulo %}
	Unidad
{% endblock titulo %}

{% block content %}
	<section class="main container">
		<h1 class="mt-4"><i class="far fa-building"></i> {{mensaje}}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{unidad.nombre}}</li>
        </ol>
			<form method="POST">
				{% csrf_token %}

					<div class="row">
						<div class="col-md-12">
							<strong>Nombre:</strong>
							{% if error == "nombre" %}
								<li> <strong>Ya existe una Unidad con este Nombre.</strong></li>
							{% endif %}
							<input type="text" name="nombre" id="nombre" class="form-control" value="{{unidad.nombre}}" required>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<strong>Siglas:</strong>
							{% if error == "siglas" %}
								<li> <strong>Ya existe una Unidad con estas Siglas.</strong></li>
							{% endif %}
							<input type="text" name="siglas" id="siglas" class="form-control" value="{{unidad.siglas}}" maxlength="3" required>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<strong>Descripción:</strong>
							<input type="text" name="descripcion" id="descripcion" value="{{unidad.descripcion}}" class="form-control">
						</div>
					</div>


					<div class="row">
						<div class="col-md-12">
							<strong>Jefe de unidad:</strong>
							<select id="jefe_unidad" name="jefe_unidad" class="form form-control" required>
								<option  value="" selected="selected">--- SELECT ---</option>
								{% for usuario in usuarios %}
									<option value="{{usuario.pk}}"
										{% if usuario.pk == unidad.jefe_unidad.pk %}selected="selected"{% endif %}>
										{{usuario.first_name|capfirst}} {{usuario.last_name|capfirst}} {{usuario.amaterno|capfirst}}
									</option>
								{% endfor %}
							</select>
						</div>
					</div>
					{% if unidad.activo %}
						<label><input type="checkbox" id="activo" name="activo" checked> Activa</label><br>
					{% else %}
						<label><input type="checkbox" id="activo" name="activo"> Activa</label><br>
					{% endif %}
					<br/>
					<p align="center">
						<a href = "/unidad/" type="button" class="btn btn-secondary">Regresar</a>
						<input type = "submit" class="btn btn-primary" value = "Guardar" />
					</p>
			</form>
	</section>
{% endblock %}

{% block scripts %}

	<script>
		$(function(){
            window.onload = function() {
                console.log("onload");
            }

			$("#siglas").keyup(function () {  
				$(this).val($(this).val().toUpperCase());  
			});

        });
	</script>

{% endblock %}