{% extends "base.html" %}
{% block titulo %}
	Unidad
{% endblock titulo %}

{% block content %}

		<section class="main container">
			<div class="row">
				<section class="posts col-md-12">
					<article class="post clearfix">
						
							<h1> {{etiqueta}} Crear unidad</h1>
							<form method="POST" class="form-horizontal">
								{% csrf_token %}

								<div class="row">
									<div class="col-md-12">
										<strong>Nombre:</strong>
										<u>
											{% if form.errors %}
												{% for error in form.errors %}
													{% if error == "nombre" %}
														<li> <strong>Ya existe una Unidad con este {{error}}.</strong></li>
													{% endif %}
												{% endfor %}
											{% endif %}
										</u>
										<input type="text" name="nombre" id="nombre" class="form-control" required>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<strong>Siglas:</strong>
										<u>
											{% if form.errors %}
												{% for error in form.errors %}
													{% if error == "siglas" %}
														<li> <strong>Ya existe un/a Unidad con estas {{error}}.</strong></li>
													{% endif %}
												{% endfor %}
											{% endif %}
										</u>
										<input type="text" name="siglas" id="siglas" class="form-control" maxlength="3" required>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<strong>Descripción:</strong>
										<input type="text" name="descripcion" id="descripcion" class="form-control">
									</div>
								</div>


								<div class="row">
									<div class="col-md-12">
										<strong>Jefe de unidad:</strong>
										<select id="jefe_unidad" name="jefe_unidad" class="form form-control" required>
											<option  value="" selected="selected">--- SELECT ---</option>
											{% for usuario in usuarios %}
												<option value="{{usuario.pk}}"
													{% if usuario == current_usuario %}{% endif %}>
													{{usuario.first_name|capfirst}} {{usuario.last_name|capfirst}} {{usuario.amaterno|capfirst}}
												</option>
											{% endfor %}
										</select>
									</div>
								</div>
							    
								<br/>
								<p align="center">
									<a href = "/unidad/" type="button" class="btn btn-primary">Regresar</a>
									<input class="btn btn-primary" type = "submit" />
								</p>
							</form>
						
					</article>
				</section>
			</div>
		</section>

		

{%endblock %}

{% block scripts %}

	
	<script type="text/javascript">
        $(function(){
            window.onload = function() {
                console.log("onload");
            }

			$("#siglas").keyup(function () {  
				$(this).val($(this).val().toUpperCase());  
			});

        });
	</script>

{% endblock %}