<!--.\tipo_dato\edita_tipo_dato.html-->
{% extends "new_plant.html" %}
{% block titulo %}
	Tipo de dato
{% endblock titulo %}

{% block content %}
	<section class="main container">
		<h1 class="mt-4">{{mensaje}}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{mensaje}}</li>
        </ol>
			<form method="POST">
				{% csrf_token %}
					{{ form.as_p }}
					<input type = "submit" class="btn btn-primary" value = "Guardar" />
					<button class="btn btn-primary" onclick="goBack()">Cancelar</button>
			</form>
	</section>
{% endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

{% endblock %}