{% extends "new_plant.html" %}
{% block titulo %}
	Expediente
{% endblock titulo %}

{% block content %}

		<section class="main container">
            <div class="container">
				<section class="posts col-md-12">
					<article class="post clearfix">
                            <h1 class="mt-4"><i class="fas fa-archive"></i> {{etiqueta}}</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">{{expediente.identificador}}</li>
                            </ol>
							<form method="POST" class="form-horizontal" id="forma" action="/expedientes/expediente_aprob">
								
								{% csrf_token %}

                                <input name="expediente" id="expediente" type="hidden" value="{{expediente.pk}}" />

                                {% if user_log.deputy %}
                                    <div class="row">
                                        <div class="alert alert-danger alert-dismissible fade show form-control" role="alert">
                                            <strong>No se puede crear o modificar expedientes mientras el deputy esta activo!</strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                {% endif %}

                                <fieldset>
                                    <legend><strong>Datos generales</strong></legend>
                                    <div class="row">
                                        <div class="col-md-3">
                                            Identificador: 
                                            <input type="text" class="form-control" id="identificador" name="identificador" value="{{expediente.identificador}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            Fecha de creación:
                                            <input type="text" class="form-control" id="fecha_creacion" name="fecha_creacion" value="{{expediente.fecha_creacion}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            Fecha de cierre: 
                                            {% if expediente.fecha_cierre == None %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="" readonly/>
                                            {% else %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="{{expediente.fecha_cierre}}" readonly/>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3">
                                            Estatus: 
                                            <input type="text" class="form-control" id="estatus" name="estatus" value="{{expediente.estatus.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Creado por:
                                            <input type="text" class="form-control" id="usuario_crea" name="usuario_crea" value="{{expediente.usuario_crea.first_name}} {{expediente.usuario_crea.last_name}}" readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            Unidad: 
                                            <input type="text" class="form-control" id="unidad" name="unidad" value="{{expediente.unidad.nombre}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            Tipo de expediente:
                                            <input type="text" class="form-control" id="tipo_expediente" name="tipo_expediente" value="{{expediente.tipo_expediente.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-7">
                                            Nombre:
                                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{expediente.nombre}}" required readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            Ubicación:
                                            <input type="text" class="form-control" id="ubicacion" name="ubicacion" value="{{expediente.ubicacion}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Descripción:
                                            <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{expediente.descripcion}}" required readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Asunto: 
                                            <input type="text" class="form-control" id="asunto" name="asunto" value="{{expediente.asunto}}" required readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                </fieldset>
                                <br/>
                                <fieldset id="campos">
                                    <legend><strong>Metadatos</strong></legend>
                                    {% for metadato in metadatos %}

                                        <div class="col-md-12">
                                            {{metadato.nombre}}:
                                            {% if metadato.tipo_dato.tipo == "Archivo" %}
                                                {% if metadato.obligatorio == True %}
                                                    <label for="avatar">Seleccionar archivo:</label>
                                                    <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="{{metadato.valor}}" class="form-control inputClass archive" reqiored readonly/>
                                                {% else %}
                                                    <label for="avatar">Seleccionar archivo:</label>
                                                    <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="{{metadato.valor}}" class="form-control inputClass archive" readonly/>
                                                {% endif %}
                                                <a href="{{metadato.valor}}" target="_blank">{{metadato.valor}}:</a>
                                                <br>
                                            {% endif %}

                                            {% if metadato.tipo_dato.tipo == "Numérico" %}
                                                {% if metadato.obligatorio == True %}
                                                    <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                                {% else %}
                                                    <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                                {% endif %}
                                            {% endif %}

                                            {% if metadato.tipo_dato.tipo == "Fecha" %}
                                                {% if metadato.obligatorio == True %}
                                                    <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" min="1900-01-01" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                                {% else %}
                                                    <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" min="1900-01-01"  value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                                {% endif %}
                                            {% endif %}

                                            {% if metadato.tipo_dato.tipo == "Texto" %}
                                                {% if metadato.obligatorio == True %}
                                                    <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                                {% else %}
                                                    <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                                {% endif %}
                                            {% endif %}

                                            {% if metadato.tipo_dato.tipo == "Correo electrónico" %}
                                                {% if metadato.obligatorio == True %}
                                                    <input type="email" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                                {% else %}
                                                    <input type="email" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                                {% endif %}
                                            {% endif %}
                                            *Descripción.- {{metadato.descripcion}}
                                        </div>
                                    {% endfor %}
                                </fieldset>

								
								<br/>
                                <input type="hidden" id="expediente" name="expediente" value="{{expediente.pk}}">
								<p align="center">
                                    <a href = "{% url 'exp_recibidos' %}" type="button" class="btn btn-secondary" id="regresar" name="regresar">Regresar</a>
                                    {% if estado == "Aprobado" %}
                                    
                                    {% elif estado == "Rechazado" %}
                                        
                                    {% else %}
                                        {% if user_log.deputy == False %}
                                            <input id="aprobar" name="aprobar" class="btn btn-primary" type="button" value="Aprobar" />
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#rechazo">Rechazar</button>
                                        {% endif %}
                                    {% endif %}
								</p>
							</form>
					</article>
				</section>
            </div>
		</section>
        
        

        <!-- Modal Motivo Rechazo-->
        <div class="modal fade" id="rechazo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                    <form action="/expedientes/rechazar_exp" method="POST">
                        <div class="modal-header">
                            <h2 class="modal-tittle">Motivo de rechazo</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <input type="hidden" id="expediente" name="expediente" value="{{expediente.pk}}">
                            <div class="table-responsive">
                                <textarea id="motivo_rechazo" name="motivo_rechazo" class="form-control" rows="10" placeholder="Escribir el motivo de rechazo"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary" id="confirmar" type="submit">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{%endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

    <script type="text/javascript">
        $(function(){
            window.onload = function() {
                console.log("onload");
                $("#subir").hide();
                $("#cancelar").hide();
                $(".archive").hide();
            }
        });

        $("#aprobar").click(function(){
            console.log("Aprobado")
            $("#forma").submit();
        });

    </script>

{% endblock %}