{% extends "new_plant.html" %}
{% block titulo %}
	Expediente
{% endblock titulo %}

{% block content %}

		<section class="main container">
            <div class="container">
				<section class="posts col-md-12">
					<article class="post clearfix">
                            <h1 class="mt-4"><i class="fas fa-archive"></i> {{etiqueta}}</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">{{expediente.identificador}}</li>
                            </ol>
							<form method="POST" class="form-horizontal" id="forma" action="/expedientes/expediente_aprob">
								
								{% csrf_token %}
                                
                                <input name="expediente" id="expediente" type="hidden" value="{{expediente.pk}}" />

                                {% if user_log.deputy %}
                                    <div class="row">
                                        <div class="alert alert-danger alert-dismissible fade show form-control" role="alert">
                                            <strong>No se puede crear o modificar expedientes mientras el deputy esta activo!</strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                {% endif %}

                                <fieldset>
                                    <legend><strong>Datos generales</strong></legend>
                                    <div class="row">
                                        <div class="col-md-3">
                                            Identificador: 
                                            <input type="text" class="form-control" id="identificador" name="identificador" value="{{expediente.identificador}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            Fecha de creación:
                                            <input type="text" class="form-control" id="fecha_creacion" name="fecha_creacion" value="{{expediente.fecha_creacion}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            Fecha de cierre: 
                                            {% if expediente.fecha_cierre == None %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="" readonly/>
                                            {% else %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="{{expediente.fecha_cierre}}" readonly/>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3">
                                            Estatus: 
                                            <input type="text" class="form-control" id="estatus" name="estatus" value="{{expediente.estatus.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Creado por:
                                            <input type="text" class="form-control" id="usuario_crea" name="usuario_crea" value="{{expediente.usuario_crea.first_name}} {{expediente.usuario_crea.last_name}}" readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            Unidad: 
                                            <input type="text" class="form-control" id="unidad" name="unidad" value="{{expediente.unidad.nombre}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            Tipo de expediente:
                                            <input type="text" class="form-control" id="tipo_expediente" name="tipo_expediente" value="{{expediente.tipo_expediente.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-7">
                                            Nombre:
                                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{expediente.nombre}}" required readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            Ubicación:
                                            <input type="text" class="form-control" id="ubicacion" name="ubicacion" value="{{expediente.ubicacion}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Descripción:
                                            <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{expediente.descripcion}}" required readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Asunto: 
                                            <input type="text" class="form-control" id="asunto" name="asunto" value="{{expediente.asunto}}" required readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                </fieldset>

                                {% for comp in comprobante %}
                                <br/>
                                    <input type="hidden" id="subtotal_xml" name="subtotal_xml" value="{{comp.SubTotal}}"/>
                                    <input type="hidden" id="total_xml" name="total_xml" value="{{comp.Total}}"/>
                                    
                                    {% if comp.Descuento %}
                                        <input type="hidden" id="descuento_xml" name="descuento_xml" value="{{comp.Descuento}}"/>
                                    {% endif %}
                                                <fieldset>
                                                    <legend><strong>Resumen factura</strong></legend>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <strong>Fecha: </strong>
                                                            <input type="text" class="form-control" id="fecha_xml" name="fecha_xml" value="{{comp.Fecha}}" readonly/>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <strong>Folio:</strong>
                                                            <input type="text" class="form-control" id="folio_xml" name="folio_xml" value="{{comp.Folio}}" readonly/>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <strong>Condiciones de pago: </strong>
                                                            <input type="text" class="form-control" id="pago_xml" name="pago_xml" value="{{comp.CondicionesDePago}}" readonly/>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <strong>moneda:</strong>
                                                            <input type="text" class="form-control" id="moneda_xml" name="moneda_xml" value="{{comp.Moneda}}" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <strong>Tipo de comprobante:</strong>
                                                            <input type="text" class="form-control" id="comprobante_xml" name="comprobante_xml" value="{{comp.TipoDeComprobante}}" readonly/>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <strong>Metodo de pago:</strong>
                                                            <input type="text" class="form-control" id="metodo_xml" name="metodo_xml" value="{{comp.MetodoPago}}" readonly/>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <strong>lugar de expedición:</strong>
                                                            <input type="text" class="form-control" id="lugar_xml" name="lugar_xml" value="{{comp.LugarExpedicion}}" readonly/>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                        {% endfor %}
                                        
                                    
                                        {% for em in emisor %}
                                            <br/>
                                            <fieldset>
                                                <legend><strong>Datos del emisor</strong></legend>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <strong>R.F.C.: </strong>
                                                        <input type="text" class="form-control" id="rfc_emisor" name="identificador" value="{{em.Rfc}}" readonly/>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <strong>Nombre:</strong>
                                                        <input type="text" class="form-control" id="nombre_emisor" name="fecha_creacion" value="{{em.Nombre}}" readonly/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <strong>Regimen fiscal: </strong>
                                                        <input type="text" class="form-control" id="regimen_emisor" name="fecha_cierre" value="{{em.RegimenFiscal}}" readonly/>
                                                    </div>
                                                </div>
                                            </fieldset>

                                        {% endfor %}

                                        

                                        {% for rec in receptor %}
                                        <br>

                                            <fieldset>
                                                <legend><strong>Datos del receptor</strong></legend>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <strong>R.F.C.: </strong>
                                                        <input type="text" class="form-control" id="rfc_receptor" name="identificador" value="{{rec.Rfc}}" readonly/>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <strong>Nombre:</strong>
                                                        <input type="text" class="form-control" id="nombre_receptor" name="fecha_creacion" value="{{rec.Nombre}}" readonly/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <strong>Regimen fiscal: </strong>
                                                        <input type="text" class="form-control" id="usoCFDI_receptor" name="fecha_cierre" value="{{rec.UsoCFDI}}" readonly/>
                                                    </div>
                                                </div>
                                            </fieldset>

                                        {% endfor %}

                                        

                                        {% if conceptos %}
                                        
                                        <br>
                                        <fieldset>
                                            <legend><strong>Conceptos</strong></legend>
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                
                                            </div>
                                            <div class="card-body">
                                                <table id="datatablesSimple">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Clave</th>
                                                            <th>Descripción</th>
                                                            <th>Cantidad</th>
                                                            <th>Unidad</th>
                                                            <th>Valor unitario</th>
                                                            <th>Importe</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Clave</th>
                                                            <th>Descripción</th>
                                                            <th>Cantidad</th>
                                                            <th>Unidad</th>
                                                            <th>Valor unitario</th>
                                                            <th>Importe</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        {% for con in conceptos %}
                                                            <tr>
                                                                <td align="center" width="50">{{forloop.counter}}</td>
                                                                <td width="100" align="center">
                                                                    {{con.ClaveProdServ}}
                                                                </td>
                                                                <td>
                                                                    {{con.Descripcion}}
                                                                </td>
                                                                <td width="100" align="center">
                                                                    {{con.Cantidad}}
                                                                </td>
                                                                <td width="100" align="center">
                                                                    {{con.Unidad}}
                                                                </td>
                                                                <td width="100" align="center">
                                                                    {{con.ValorUnitario}}
                                                                </td>
                                                                <td width="100" align="center">
                                                                    {{con.Importe}}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                            <tr>
                                                                {% for comp in comprobante %}
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td align="center"><strong>Subtotal</strong></td>
                                                                    <td align="center"><strong>{{comp.SubTotal}}</strong></td>
                                                                {% endfor %}
                                                            </tr>
                                                            {% for val in comprobante %}
                                                                {% if val.Descuento != False %}
                                                                <tr>
                                                                    {% for comp in comprobante %}
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td align="center"><strong>Descuento</strong></td>
                                                                        <td align="center"><strong>{{comp.Descuento}}</strong></td>
                                                                    {% endfor %}
                                                                </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            
                                                            <tr>
                                                                {% for d in traslados %}
                                                                    {% if forloop.last %}
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td align="center"><strong>IVA</strong></td>
                                                                        <td align="center"><strong>{{d.Importe}}</strong></td>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                
                                                            </tr>
                                                            <tr>
                                                                {% for comp in comprobante %}
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td align="center"><strong>Total</strong></td>
                                                                    <td align="center"><strong>{{comp.Total}}</strong></td>
                                                                {% endfor %}
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        </fieldset>
                                        {% endif %}

                                
                                <fieldset id="campos">
                                    <legend><strong>Metadatos</strong></legend>
                                    {% for metadato in metadatos %}

                                        <div class="col-md-12">
                                            {{metadato.nombre}}:
                                            {% if metadato.tipo_dato.tipo == "Archivo" %}
                                                {% if metadato.obligatorio == True %}
                                                    <label for="avatar">Seleccionar archivo:</label>
                                                    <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="{{metadato.valor}}" class="form-control inputClass archive" reqiored readonly/>
                                                {% else %}
                                                    <label for="avatar">Seleccionar archivo:</label>
                                                    <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="{{metadato.valor}}" class="form-control inputClass archive" readonly/>
                                                {% endif %}
                                                <a href="{{metadato.valor}}" target="_blank">{{metadato.valor}}:</a>
                                                <br>
                                            {% endif %}

                                            {% if metadato.tipo_dato.tipo == "XML" %}
                                                {% if metadato.obligatorio == True %}
                                                    <label for="xml">Seleccionar XML:</label>
                                                    <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="text/xml" value="{{metadato.valor}}" class="form-control inputClass archive" required readonly/>
                                                {% else %}
                                                    <label for="xml">Seleccionar XML:</label>
                                                    <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="text/xml" value="{{metadato.valor}}" class="form-control inputClass archive" readonly/>
                                                {% endif %}
                                                <a href="{{metadato.valor}}" target="_blank">{{metadato.valor}}:</a>
                                                <br>
                                            {% endif %}

                                            {% if metadato.tipo_dato.tipo == "Numérico" %}
                                                {% if metadato.obligatorio == True %}
                                                    <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                                {% else %}
                                                    <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                                {% endif %}
                                            {% endif %}

                                            {% if metadato.tipo_dato.tipo == "Fecha" %}
                                                {% if metadato.obligatorio == True %}
                                                    <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" min="1900-01-01" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                                {% else %}
                                                    <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" min="1900-01-01"  value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                                {% endif %}
                                            {% endif %}

                                            {% if metadato.tipo_dato.tipo == "Texto" %}
                                                {% if metadato.obligatorio == True %}
                                                    <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                                {% else %}
                                                    <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                                {% endif %}
                                            {% endif %}

                                            {% if metadato.tipo_dato.tipo == "Correo electrónico" %}
                                                {% if metadato.obligatorio == True %}
                                                    <input type="email" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                                {% else %}
                                                    <input type="email" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                                {% endif %}
                                            {% endif %}
                                            *Descripción.- {{metadato.descripcion}}
                                        </div>
                                    {% endfor %}
                                </fieldset>

								
								<br/>
                                <input type="hidden" id="expediente" name="expediente" value="{{expediente.pk}}">
								<p align="center">
                                    <a href = "{% url 'exp_recibidos' %}" type="button" class="btn btn-secondary" id="regresar" name="regresar">Regresar</a>
                                    {% if estado == "Aprobado" %}
                                    
                                    {% elif estado == "Rechazado" %}
                                        
                                    {% else %}
                                        {% if user_log.deputy == False %}
                                            <input id="aprobar" name="aprobar" class="btn btn-primary" type="button" value="Aprobar" />
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#rechazo">Rechazar</button>
                                        {% endif %}
                                    {% endif %}
								</p>
							</form>
					</article>
				</section>
            </div>
		</section>
        
        

        <!-- Modal Motivo Rechazo-->
        <div class="modal fade" id="rechazo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                    <form action="/expedientes/rechazar_exp" method="POST">
                        <div class="modal-header">
                            <h2 class="modal-tittle">Motivo de rechazo</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <input type="hidden" id="expediente" name="expediente" value="{{expediente.pk}}">
                            <div class="table-responsive">
                                <textarea id="motivo_rechazo" name="motivo_rechazo" class="form-control" rows="10" placeholder="Escribir el motivo de rechazo"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary" id="confirmar" type="submit">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{%endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

    <script type="text/javascript">
        $(function(){
            window.onload = function() {
                console.log("onload");
                $("#subir").hide();
                $("#cancelar").hide();
                $(".archive").hide();
            }
        });

        $("#aprobar").click(function(){
            console.log("Aprobado")
            $("#forma").submit();
        });

    </script>

{% endblock %}