{% extends "new_plant.html" %}

{% block titulo %}
	Expedientes
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock css %}

{% block content %}

	<div class="container">
		<h1 class="mt-4"><i class="fas fa-search"></i> {{mensaje}}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{mensaje}}</li>
        </ol>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-12">
					<article class="post clearfix">


						<div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-search"></i>
								<strong>
                                	Búscar expediente
								</strong>
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
											<th align="center" width="50">#</th>
											<th>Identificador</th>
											<th>Expediente</th>
											<th>Descripción</th>
											<th>Asunto</th>
											<th>Creado por</th>
											<th align="center" width="50">Fecha creación</th>
											<th align="center" width="50">Estatus</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th align="center" width="50">#</th>
											<th>Identificador</th>
											<th>Expediente</th>
											<th>Descripción</th>
											<th>Asunto</th>
											<th>Creado por</th>
											<th align="center" width="50">Fecha creación</th>
											<th align="center" width="50">Estatus</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for expediente in expedientes %}
											<tr>
												<td align="center" width="50">{{forloop.counter}}</td>
												<td>
													<strong>
														<a href = "{% url "consulta_expediente" pk=expediente.id %}" title="Consultar">{{expediente.identificador}}</a>
													</strong>
												</td>
												<td>{{expediente.nombre}}</td>
												<td>{{expediente.descripcion}}</td>
												<td>{{expediente.asunto}}</td>
												<td>{{expediente.usuario_crea.first_name}} {{expediente.usuario_crea.last_name}} {{expediente.usuario_crea.amaterno}}</td>
												<td width="50" align="center">{{expediente.fecha_creacion|date:"d-m-Y"}}</td>
												<td width="90" align="center">{{expediente.estatus}}</td>
											</tr>
										{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

					</article>
				</section>
			</div>
		</section>
		<p align="center">
			<a href = "/principal/" type="button" class="btn btn-secondary">Regresar</a>
		</p>
	</div>

{% endblock %}

{% block scripts %}

	<script src="http://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

{% endblock %}