{% extends "base.html" %}
{% block titulo %}
	Expediente
{% endblock titulo %}

{% block content %}

		<section class="main container">
            <div class="container">
				<section class="posts col-md-12">
					<article class="post clearfix">
						<div class="table-responsive">
							<h1> {{etiqueta}} Detalle expediente</h1>
                            <!--
                                # @cambio
                                # fecha : 31/03/2020
                                # autor: lechuga
                                # Explcación: se valida si el expediente tirne algun metadato del tipo "archvo"
                                # en tal caso se le agrega enctype="multipart/form-data al formulario
                                # para que envie los archivos cargados
                                # caso contrario no se agrega enctype="multipart/form-data
                            -->
                            {% if contiene_archivos %}
                            <form method="POST" class="form-horizontal" action="/expedientes/modifica_exp_completo" enctype="multipart/form-data">
                            {% else %}
                            <form method="POST" class="form-horizontal" action="/expedientes/modifica_exp_completo" enctype="multipart/form-data">
                            {% endif %}	
                            <!--
                            # @anterior
                            <form method="POST" class="form-horizontal" action="/expedientes/modifica_exp_completo">
                            -->
								{% csrf_token %}

                                <input name="expediente" id="expediente" type="hidden" value="{{expediente.pk}}" />

                                <fieldset>
                                    <legend>Datos generales</legend>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <strong>Identificador: </strong>
                                            <input type="text" class="form-control" id="identificador" name="identificador" value="{{expediente.identificador}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Fecha de creación:</strong>
                                            <input type="text" class="form-control" id="fecha_creacion" name="fecha_creacion" value="{{expediente.fecha_creacion}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Fecha de cierre: </strong>
                                            {% if expediente.fecha_cierre == None %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="" readonly/>
                                            {% else %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="{{expediente.fecha_cierre}}" readonly/>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Estatus: </strong>
                                            <input type="text" class="form-control" id="estatus" name="estatus" value="{{expediente.estatus.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Creado por:</strong>
                                            <input type="text" class="form-control" id="usuario_crea" name="usuario_crea" value="{{expediente.usuario_crea.first_name}} {{expediente.usuario_crea.last_name}}" readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            <strong>Unidad:</strong>
                                            <input type="text" class="form-control" id="unidad" name="unidad" value="{{expediente.unidad.nombre}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Tipo de expediente:</strong>
                                            <input type="text" class="form-control" id="tipo_expediente" name="tipo_expediente" value="{{expediente.tipo_expediente.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-7">
                                        <strong>Nombre:</strong>
                                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{expediente.nombre}}" required readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            <strong>Ubicación:</strong>
                                            <input type="text" class="form-control" id="ubicacion" name="ubicacion" value="{{expediente.ubicacion}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong>Descripción:</strong>
                                            <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{expediente.descripcion}}" required readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong>Asunto: </strong>
                                            <input type="text" class="form-control" id="asunto" name="asunto" value="{{expediente.asunto}}" required readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                </fieldset>
                                <br/>
                                <fieldset id="campos">
                                    <legend>Metadatos</legend>
                                    {% for metadato in metadatos %}
                                        <div class="col-md-12">
                                            <strong>{{metadato.nombre}}:</strong>
                                        <!--
                                            # @cambio
                                            # fecha : 31/03/2020
                                            # autor: lechuga
                                            # Explcación: se cambia para que utilice el nombre del estatus enligar del pk
                                        -->
                                        {% if metadato.tipo_dato.tipo == "Archivo" %}
                                            {% if metadato.obligatorio == True %}
                                                <label for="avatar" class="archive">Seleccionar archivo:</label>
                                                <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="{{metadato.valor}}" class="form-control inputClass archive" reqiored readonly/>
                                            {% else %}
                                                <label for="avatar" class="archive">Seleccionar archivo:</label>
                                                <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="{{metadato.valor}}" class="form-control inputClass archive" readonly/>
                                            {% endif %}
                                            <a href="{{metadato.valor}}" target="_blank">{{metadato.valor}}:</a>
                                            <br>
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Numérico" %}
                                            {% if metadato.obligatorio == True %}
                                                <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                            {% else %}
                                                <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Fecha" %}
                                            {% if metadato.obligatorio == True %}
                                                <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" min="2018-01-01" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                            {% else %}
                                                <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" min="2018-01-01"  value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Texto" %}
                                            {% if metadato.obligatorio == True %}
                                                <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                            {% else %}
                                                <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Correo electrónico" %}
                                            {% if metadato.obligatorio == True %}
                                                <input type="email" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                            {% else %}
                                                <input type="email" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}
                                        {% endif %}
                                            *Descripción.- {{metadato.descripcion}}
                                        </div>
                                    {% endfor %}
                                </fieldset>
								
								<br/>
								<p align="center">
                                    <input id="modificar" name="modificar" class="btn btn-primary" type="button" value="Modificar" />
                                    <input id="cancelar" name="cancelar" class="btn btn-primary" type="button" value="Cancelar" />
                                    <a href = "{% url 'mis_expedientes' %}" type="button" class="btn btn-primary" id="regresar" name="regresar">Regresar</a>
                                    <input id="subir" class="btn btn-primary" type="submit" value="Guardar"/>
								</p>
							</form>
						</div>
						
					</article>
				</section>
            </div>
		</section>

{%endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

    <script type="text/javascript">
        $(function(){
            window.onload = function() {
                console.log("onload");
                $("#subir").hide();
                $("#cancelar").hide();
                $(".archive").hide();
            }

            $('#modificar').click(function(){
                console.log("Click en modificar")
                $("#modificar").hide()
                $("#nombre").attr("readonly", false)
                $("#descripcion").attr("readonly", false)
                $("#asunto").attr("readonly", false)
                $("#ubicacion").attr("readonly", false)
                $("#subir").show()
                $("#cancelar").show()
                $("#regresar").hide()
                $(".archive").show();
                var ids = $(".inputClass")
                $.each(ids, function(i,value){
                    $("#"+value.id).attr("readonly", false)
                    console.log(value.id)
                });
            });

            $("#cancelar").click(function(){
                location.reload();
                console.log("Click en cancelar")
                $("#nombre").attr("readonly", true)
                $("#descripcion").attr("readonly", true)
                $("#asunto").attr("readonly", true)
                $("#ubicacion").attr("readonly", true)
                $("#subir").hide()
                $("#cancelar").hide()
                $("#modificar").show()
                $("#regresar").show()
                var ids = $(".inputClass")
                $.each(ids, function(i,value){
                    $("#"+value.id).attr("readonly", true)
                    console.log(value.id)
                });
            });

        });
    </script>

{% endblock %}