{% extends "base.html" %}
{% block titulo %}
	Expediente
{% endblock titulo %}

{% block content %}

		<section class="main container">
            <div class="container">
				<section class="posts col-md-12">
					<article class="post clearfix">
						<div class="table-responsive">
							<h1> {{etiqueta}} Detalle expediente</h1>
							<form method="POST" class="form-horizontal" action="/expedientes/modifica_exp_completo">
								
								{% csrf_token %}

                                <input name="expediente" id="expediente" type="hidden" value="{{expediente.pk}}" />

                                <fieldset>
                                    <legend>Datos generales</legend>
                                    <div class="row">
                                        <div class="col-md-3">
                                            Identificador: 
                                            <input type="text" class="form-control" id="identificador" name="identificador" value="{{expediente.identificador}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            Fecha de creación:
                                            <input type="text" class="form-control" id="fecha_creacion" name="fecha_creacion" value="{{expediente.fecha_creacion}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            Fecha de cierre: 
                                            {% if expediente.fecha_cierre == None %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="" readonly/>
                                            {% else %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="{{expediente.fecha_cierre}}" readonly/>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3">
                                            Estatus: 
                                            <input type="text" class="form-control" id="estatus" name="estatus" value="{{expediente.estatus.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Creado por:
                                            <input type="text" class="form-control" id="usuario_crea" name="usuario_crea" value="{{expediente.usuario_crea}}" readonly/>
                                        </div>
                                        <div class="col-md-6">
                                            Unidad: 
                                            <input type="text" class="form-control" id="unidad" name="unidad" value="{{expediente.unidad.nombre}}" readonly/>
                                        </div>
                                        <div class="col-md-2">
                                            Tipo de expediente:
                                            <input type="text" class="form-control" id="tipo_expediente" name="tipo_expediente" value="{{expediente.tipo_expediente.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-7">
                                            Nombre:
                                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{expediente.nombre}}" readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            Ubicación:
                                            <input type="text" class="form-control" id="ubicacion" name="ubicacion" value="{{expediente.ubicacion}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Descripción:
                                            <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{expediente.descripcion}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Asunto: 
                                            <input type="text" class="form-control" id="asunto" name="asunto" value="{{expediente.asunto}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                </fieldset>
                                <br/>
                                <fieldset id="campos">
                                    <legend>Metadatos</legend>
                                    {% for metadato in metadatos %}

                                        <div class="col-md-12">
                                            {{metadato.nombre}}:
                                            {% if metadato.tipo_dato.pk == 2 %}
                                                <label for="avatar">Seleccionar archivo:</label>
                                                <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="{{metadato.valor}}" placeholder="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}

                                            {% if metadato.tipo_dato.pk == 3 %}
                                                <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="{{metadato.valor}}" placeholder="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}

                                            {% if metadato.tipo_dato.pk == 4 %}
                                                <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" value="2018-07-22" min="2018-01-01" max="2018-12-31" value="{{metadato.valor}}" placeholder="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}

                                            {% if metadato.tipo_dato.pk == 5 %}
                                                <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}
                                            *Descripción.- {{metadato.descripcion}}
                                        </div>
                                    {% endfor %}
                                </fieldset>

								
								<br/>
								<p align="center">
                                    <input id="modificar" name="modificar" class="btn btn-primary" type="button" value="Modificar" />
                                    <input id="cancelar" name="cancelar" class="btn btn-primary" type="button" value="Cancelar" />
                                    <a href = "{% url 'mis_expedientes' %}" type="button" class="btn btn-primary" id="regresar" name="regresar">Regresar</a>
                                    <input id="subir" class="btn btn-primary" type="submit" value="Guardar"/>
								</p>
							</form>
						</div>
						
					</article>
				</section>
            </div>
		</section>

        {% if perfil_form.errors %}
            {% for error in perfil_form.errors %}
                {{error}}
            {% endfor %}
        {% endif %}


{%endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

    <script type="text/javascript">
        $(function(){
            window.onload = function() {
                console.log("onload");
                $("#subir").hide();
                $("#cancelar").hide();
            }

            $('#modificar').click(function(){
                console.log("Click en modificar")
                $("#modificar").hide()
                $("#nombre").attr("readonly", false)
                $("#descripcion").attr("readonly", false)
                $("#asunto").attr("readonly", false)
                $("#ubicacion").attr("readonly", false)
                $("#subir").show()
                $("#cancelar").show()
                $("#regresar").hide()
                var ids = $(".inputClass")
                $.each(ids, function(i,value){
                    $("#"+value.id).attr("readonly", false)
                    console.log(value.id)
                });
            });

            $("#cancelar").click(function(){
                console.log("Click en cancelar")
                $("#nombre").attr("readonly", true)
                $("#descripcion").attr("readonly", true)
                $("#asunto").attr("readonly", true)
                $("#ubicacion").attr("readonly", true)
                $("#subir").hide()
                $("#cancelar").hide()
                $("#modificar").show()
                $("#regresar").show()
                var ids = $(".inputClass")
                $.each(ids, function(i,value){
                    $("#"+value.id).attr("readonly", true)
                    console.log(value.id)
                });
            });

        });
    </script>

{% endblock %}