{% extends "new_plant.html" %}

{% block titulo %}
	Expediente
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock css %}

{% block content %}
		<section class="main container">
            <div class="container">
                <h1 class="mt-4"><i class="fas fa-inbox"></i> {{mensaje}}</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">{{mensaje}}</li>
                </ol>
				<section class="posts col-md-12">
					<article class="post clearfix">
                            <fieldset id="campos">
                                <div class="row">
                                    <div class="col-md-12"></div>
                                    <div class="col-md-12"></div>
                                </div>



                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-archive"></i>
                                        <strong>
                                            Expedientes asignados
                                        </strong>
                                    </div>
                                    <div class="card-body">
                                        <table id="datatablesSimple">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Asignado por</th>
                                                    <th>Expediente</th>
                                                    <th>Nombre</th>
                                                    <th>Descripción</th>
                                                    <th>Asunto</th>
                                                    <th>Fecha creación</th>
                                                    <th>Estatus</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Asignado por</th>
                                                    <th>Expediente</th>
                                                    <th>Nombre</th>
                                                    <th>Descripción</th>
                                                    <th>Asunto</th>
                                                    <th>Fecha creación</th>
                                                    <th>Estatus</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for recibido in recibidos %}
                                                    <tr>
                                                        <td align="center" width="50">{{forloop.counter}}</td>
                                                        <td>
                                                                {{recibido.usuario_crea.first_name}} {{recibido.usuario_crea.last_name}} {{recibido.usuario_crea.amaterno}}
                                                        </td>
                                                        <td>
                                                            <strong>
                                                                <a href = "{% url "ver_expediente" pk=recibido.expediente.id %}" title="Consultar">{{recibido.expediente.identificador}}</a>
                                                            </strong>
                                                        </td>
                                                        <td>{{recibido.expediente.nombre}}</td>
                                                        <td>{{recibido.expediente.descripcion}}</td>
                                                        <td>{{recibido.expediente.asunto}}</td>
                                                        <td width="50" align="center">{{recibido.expediente.fecha_creacion|date:"d-m-Y"}}</td>
                                                        <td width="90" align="center">{{recibido.expediente.estatus.nombre}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </fieldset>
                        <p align="center">
                            <a href = "/expedientes/exp_recibidos" type="button" class="btn btn-secondary">Regresar</a>
                        </p>
					</article>
				</section>
            </div>
		</section>

{%endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

    <script type="text/javascript">

        $(document).ready( function () {
            $('#tablita').DataTable({
                "paging":false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
            });
        } );

    </script>

    <script src="http://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

{% endblock %}