{% extends "new_plant.html" %}

{% block titulo %}
	Expediente
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock css %}

{% block content %}
        
		<section class="main container">
            <div class="container">
                <h1 class="mt-4"><i class="fas fa-inbox"></i> Expedientes recibidos</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Expedientes recibidos</li>
                </ol>
				<section class="posts col-md-12">
					<article class="post clearfix">
                            <fieldset id="campos">
                                <div class="row">
                                    <div class="col-md-12"></div>
                                    <div class="col-md-12">
                                        <p align="right">
                                            {% if user_log.es_deputy == True %}
                                                <a href = "/expedientes/recibidos_deputy" type="button" id="depu" class="btn btn-primary">Deputy</a>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>


                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-inbox"></i>
                                        <strong>
                                            Expedientes recibidos
                                        </strong>
                                    </div>
                                    <div class="card-body">
                                        <table id="datatablesSimple">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Identificador</th>
                                                    <th>Expediente</th>
                                                    <th>Descripción</th>
                                                    <th>Asunto</th>
                                                    <th>Creado por</th>
                                                    <th>Fecha creación</th>
                                                    <th>Estatus</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Identificador</th>
                                                    <th>Expediente</th>
                                                    <th>Descripción</th>
                                                    <th>Asunto</th>
                                                    <th>Creado por</th>
                                                    <th>Fecha creación</th>
                                                    <th>Estatus</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for recibido in recibidos %}
                                                <tr>
                                                    <td align="center" width="50">{{forloop.counter}}</td>
                                                    <td>
                                                        <strong>
                                                            <a href = "{% url "aprobar_exp" pk=recibido.id_expediente.pk %}" title="Consultar">{{recibido.id_expediente.identificador}}</a>
                                                        </strong>
                                                    </td>
                                                    <td>{{recibido.id_expediente.nombre}}</td>
                                                    <td>{{recibido.id_expediente.descripcion}}</td>
                                                    <td>{{recibido.id_expediente.asunto}}</td>
                                                    <td>{{recibido.id_expediente.usuario_crea.first_name}} {{recibido.id_expediente.usuario_crea.last_name}} {{recibido.id_expediente.usuario_crea.amaterno}}</td>
                                                    <td width="50" align="center">{{recibido.id_expediente.fecha_creacion|date:"d-m-Y"}}</td>
                                                    <td width="90" align="center">{{recibido.id_estatus.nombre}}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </fieldset>
                        <p align="center">
                            <a href = "/principal/" type="button" class="btn btn-secondary">Regresar</a>
                        </p>
					</article>
				</section>
            </div>
		</section>

{%endblock %}

{% block scripts %}

    <script type="text/javascript">

        $(function(){
            window.onload = function() {
                //$("#captura").hide();
                var myButton = document.getElementById('depu');
                    myButton.style.width= '200px';
                $("#identificador").focus();
            }

        });

    </script>

    <script src="http://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

{% endblock %}