{% extends "new_plant.html" %}

{% block titulo %}
	Expedientes
{% endblock titulo %}

{% block content %}

	<div class="container">
		<h1 class="mt-4">{{mensaje}}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{mensaje}}</li>
        </ol>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-12">
					<article class="post clearfix">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr align="center">
										<th>#</th>
										<th>Expediente</th>
										<th>Identificador</th>
										<th>Estatus</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% for expediente in expedientes %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{expediente.nombre}}</td>
											<td>{{expediente.identificador}}</td>
											<td>{{expediente.estatus}}</td>
											<td>
												<a href = "javascript: if(confirm('Deseas editar {{expediente}}??')) window.location='{% url "editar_expediente" pk=expediente.id %}'" type="button" class="btn btn-primary glyphicon glyphicon-pencil" title="Editar"></a>
												<a href = "javascript: if(confirm('Deseas eliminar {{expediente}}??')) window.location='{% url "eliminar_expediente" pk=expediente.id %}'" type="button" class="btn btn-primary glyphicon glyphicon-remove" title="Desactivar"></a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</article>
				</section>
			</div>
		</section>
		<p align="center">
			<a href = "/principal/" type="button" class="btn btn-secondary">Regresar</a>
			<a href = "{% url 'nuevo_expediente' %}" type="button" class="btn btn-primary">Nuevo expediente</a>
		</p>
	</div>

{% endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

{% endblock %}