{% extends "base.html" %}
{% block titulo %}
	Expediente
{% endblock titulo %}

{% block content %}

		<section class="main container">
				<section class="posts col-md-12">
					<article class="post clearfix">
						<div class="table-responsive">
        
							<h1> {{etiqueta}} Crear metadatos</h1>

							{% if bandera %}
							<form method="POST" class="form-horizontal" action="/expedientes/guarda_metadatos_exp" enctype="multipart/form-data">
							{% else %}
							<form method="POST" class="form-horizontal" action="/expedientes/guarda_metadatos_exp">	
							{% endif %}

							<input name="tipo" id="tipo" type="hidden" value="{{tipo.pk}}" />
							<input name="id_exp" id="id_exp" type="hidden" value="{{id.pk}}" />
								<div class="col-md-12">
									{% csrf_token %}

									{% for metadato in metadatos %}
										
										{% if metadato.tipo_dato.tipo == "Archivo" %}
											{{metadato.nombre}}:
											<label for="">Seleccionar archivo:</label>
											<input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" class="form-control" accept="image/png, image/jpeg">	
											*Descripción: {{metadato.descripcion}}
										{% endif %}

										{% if metadato.tipo_dato.tipo == "Numérico" %}
											{{metadato.nombre}}:
											<input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" class="form-control" min="0" max="10000000">
											*Descripción: {{metadato.descripcion}}
										{% endif %}

										{% if metadato.tipo_dato.tipo == "Fecha" %}
											{{metadato.nombre}}:
											<input type="date" id="{{metadato.pk}}" class="form-control" name="{{metadato.pk}}" value="2018-07-22" min="2018-01-01" max="2018-12-31">
											*Descripción: {{metadato.descripcion}}
										{% endif %}

										{% if metadato.tipo_dato.tipo == "Texto" %}
											{{metadato.nombre}}:
											<input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" class="form-control">
											*Descripción: {{metadato.descripcion}}
										{% endif %}
										<br/>
									{% endfor %}
									
								</div>
								<br/>
								<p align="center">
									<button class="btn btn-primary" onclick="goBack()">Regresar</button>
									<input class="btn btn-primary" type = "submit" />
								</p>
							</form>
						</div>
						
					</article>
				</section>
		</section>


{%endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

{% endblock %}