{% extends "base.html" %}
{% block titulo %}
	Expediente
{% endblock titulo %}

{% block content %}

		<section class="main container">
			<div class="row">
				<section class="posts col-md-12">
					<article class="post clearfix">
						<div class="table-responsive">
							<h1> {{etiqueta}} Crear metadatos</h1>
							<form method="POST" class="form-horizontal" action="/expedientes/guarda_metadatos_exp">
								<input name="tipo" id="tipo" type="hidden" value="{{tipo.pk}}" />
								<input name="id_exp" id="id_exp" type="hidden" value="{{id.pk}}" />
								{% csrf_token %}
								<label for="avatar">Versión: 1</label>
								
								{% for metadato in metadatos %}
									<div class="col-md-12"></div>
										{{metadato.nombre}}
										
										{% if metadato.tipo_dato.pk == 2 %}
											<label for="avatar">Seleccionar archivo:</label>
											<input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg">
										{% endif %}

										{% if metadato.tipo_dato.pk == 3 %}
											<input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000">
										{% endif %}

										{% if metadato.tipo_dato.pk == 4 %}
											<input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" value="2018-07-22" min="2018-01-01" max="2018-12-31">
										{% endif %}

										{% if metadato.tipo_dato.pk == 5 %}
											<input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}">
										{% endif %}
										{{metadato.descripcion}}
									</div>
								{% endfor %}
								
								<br/>
								<p align="center">
									<input class="btn btn-primary" type = "submit" />
								</p>
							</form>
						</div>
						<button class="btn btn-primary" onclick="goBack()">Regresar</button>
					</article>
				</section>
			</div>
		</section>


{%endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

{% endblock %}