{% extends "base.html" %}

{% block titulo %}
	Expedientes
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock css %}

{% block content %}

	<div class="container">
		<h1>{{mensaje}}</h1>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-12">
					<article class="post clearfix">
						<div class="table-responsive">
							<table class="table table-hover" id="tablita">
								<thead>
									<tr align="center">
										<th>#</th>
										<th>Expediente</th>
										<th>Identificador</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% for expediente in expedientes %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{expediente.nombre}}</td>
											<td>{{expediente.identificador}}</td>
											<td>
												<a href = "javascript: if(confirm('Deseas ver el expediente: {{expediente.identificador}}??')) window.location='{% url "ver_expediente" pk=expediente.id %}'" type="button" class="btn btn-primary glyphicon glyphicon-eye-open"></a>
												<a href = "javascript: if(confirm('Deseas editar el expediente: {{expediente.identificador}}??')) window.location='{% url "detalle_expediente" pk=expediente.id %}'" type="button" class="btn btn-primary glyphicon glyphicon-pencil"></a>
												<a href = "javascript: if(confirm('Deseas eliminar el expediente: {{expediente.identificador}}??')) window.location='{% url "eliminar_expediente" pk=expediente.id %}'" type="button" class="btn btn-primary glyphicon glyphicon-remove"></a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</article>
				</section>
			</div>
		</section>
		<p align="center">
			<a href = "/principal/" type="button" class="btn btn-primary">Regresar</a>
			<a href = "{% url 'selecciona_expediente' %}" type="button" class="btn btn-primary">Nuevo expediente</a>
		</p>
		<br/><br/>
	</div>

{% endblock %}

{% block scripts %}

	<script type="text/javascript">

		$(document).ready( function () {
			$('#tablita').DataTable({
				"paging":false,
				"language": {
					"url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
				},
			});
		} );

	</script>

	<script src="http://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

{% endblock %}