{% extends "new_plant.html" %} <!--No se utiliza en esta versión-->
{% block titulo %}
	Expediente
{% endblock titulo %}

{% block content %}

		<section class="main container">
			<div class="row">
				<section class="posts col-md-12">
					<article class="post clearfix">
						{{ 'Aqui debe de estar el tipo:' }}{{tipo.pk}}
						<div class="table-responsive">
							<h1 class="mt-4">{{mensaje}}</h1>
							<ol class="breadcrumb mb-4">
								<li class="breadcrumb-item active">{{mensaje}}</li>
							</ol>
							<form method="POST" class="form-horizontal" action="/expedientes/nuevo_expediente">
								{% csrf_token %}
								
								{{form.as_p}}
							    

								<input name="tipo" id="tipo" type="hidden" value="{{tipo.pk}}" />
								<br/>
								<p align="center">
									<input class="btn btn-primary" type = "submit" />
								</p>
							</form>
						</div>
						<button class="btn btn-secondary" onclick="goBack()">Regresar</button>
					</article>
				</section>
			</div>
		</section>


{%endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

{% endblock %}