{% extends "base.html" %}
{% block titulo %}
	Expediente
{% endblock titulo %}

{% block content %}

		<section class="main container">
            <div class="container">
				<section class="posts col-md-12">
					<article class="post clearfix">
						<div class="table-responsive">
							<h1> {{mensaje}}</h1>
                            <!--
                                # @cambio
                                # fecha : 31/03/2020
                                # autor: lechuga
                                # Explcación: se valida si el expediente tirne algun metadato del tipo "archvo"
                                # en tal caso se le agrega enctype="multipart/form-data al formulario
                                # para que envie los archivos cargados
                                # caso contrario no se agrega enctype="multipart/form-data
                            -->
                            {% if contiene_archivos %}
							    <form method="POST" class="form-horizontal" action="/expedientes/nuevo_exp_completo" enctype="multipart/form-data">
                            {% else %}
                                <form method="POST" class="form-horizontal" action="/expedientes/nuevo_exp_completo" >
							{% endif %}
                            
                            <!--
                                # @anterior
                                <form method="POST" class="form-horizontal" action="/expedientes/nuevo_exp_completo" >
                            -->
	
								{% csrf_token %}

                                <input name="expediente" id="expediente" type="hidden" value="{{expediente.pk}}" />
                                <input name="tipo" id="tipo" type="hidden" value="{{tipo.pk}}" />
                                
                                <fieldset>
                                    <legend>Datos generales</legend>
                                    <div class="row">
                                        <div class="col-md-7">
                                            Nombre:
                                            <input type="text" class="form-control" id="nombre" name="nombre" value="" required/>
                                        </div>
                                        <div class="col-md-5">
                                            Ubicación:
                                            <input type="text" class="form-control" id="ubicacion" name="ubicacion" value="" />
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Descripción:
                                            <input type="text" class="form-control" id="descripcion" name="descripcion" value="" required/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Asunto: 
                                            <input type="text" class="form-control" id="asunto" name="asunto" value="" required/>
                                        </div>
                                    </div>
                                    <br/>
                                </fieldset>
                                <br/>
                                <fieldset id="campos">
                                    <legend>Metadatos</legend>
                                    {% for metadato in metadatos %}

                                        <div class="col-md-12">
                                            {{metadato.nombre}}:

                                        <!--
                                            # @cambio
                                            # fecha : 31/03/2020
                                            # autor: lechuga
                                            # Explcación: se cambia para que utilice el nombre del estatus enligar del pk
                                        -->

                                        {% if metadato.tipo_dato.tipo == "Archivo" %}
                                            <label for="avatar">Seleccionar archivo:</label>
                                            {% if metadato.obligatorio == True %}
                                                <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="" class="form-control inputClass" required/>
                                            {% else %}
                                                <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="" class="form-control inputClass"/>
                                            {% endif %}
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Numérico" %}
                                            {% if metadato.obligatorio == True %}
                                                <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="" class="form-control inputClass" required/>
                                            {% else %}
                                                <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="" class="form-control inputClass" />
                                            {% endif %}
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Fecha" %}
                                            {% if metadato.obligatorio == True %}
                                            <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" min="1900-01-01" value="" class="form-control inputClass" required/>
                                            {% else %}
                                            <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" min="1900-01-01" value="" class="form-control inputClass" />
                                            {% endif %}
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Texto" %}
                                            {% if metadato.obligatorio == True %}
                                                <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="" class="form-control inputClass" required/>
                                            {% else %}
                                                <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="" class="form-control inputClass" />
                                            {% endif %}
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Correo electrónico" %}
                                            {% if metadato.obligatorio == True %}
                                                <input type="email" id="{{metadato.pk}}" name="{{metadato.pk}}" value="" class="form-control inputClass" required/>
                                            {% else %}
                                                <input type="email" id="{{metadato.pk}}" name="{{metadato.pk}}" value="" class="form-control inputClass" />
                                            {% endif %}
                                        {% endif %}
                                            *Descripción.- {{metadato.descripcion}}
                                        </div>
                                    {% endfor %}
                                </fieldset>

								
								<br/>
								<p align="center">
                                    <a href = "{% url 'mis_expedientes' %}" type="button" class="btn btn-primary" id="regresar" name="regresar">Regresar</a>
                                    <input id="subir" class="btn btn-primary" type="submit" value="Guardar"/>
								</p>
							</form>
						</div>
						
					</article>
				</section>
            </div>
		</section>

        {% if perfil_form.errors %}
            {% for error in perfil_form.errors %}
                {{error}}
            {% endfor %}
        {% endif %}


{%endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

{% endblock %}