{% extends "base.html" %}

{% block titulo %}
	Expediente
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock css %}

{% block content %}

		<section class="main container">
            <div class="container">
				<section class="posts col-md-12">
					<article class="post clearfix">
						<div class="table-responsive">
							<h1> {{etiqueta}}</h1>
							<form method="POST" class="form-horizontal" action="/expedientes/ver_expediente">
								
								{% csrf_token %}

                                <input name="expediente" id="expediente" type="hidden" value="{{expediente.pk}}" />

                                <fieldset>
                                    <legend>Datos generales</legend>
                                    <div class="row">
                                        <div class="col-md-3">
                                            Identificador: 
                                            <input type="text" class="form-control" id="identificador" name="identificador" value="{{expediente.identificador}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            Fecha de creación:
                                            <input type="text" class="form-control" id="fecha_creacion" name="fecha_creacion" value="{{expediente.fecha_creacion}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            Fecha de cierre: 
                                            {% if expediente.fecha_cierre == None %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="" readonly/>
                                            {% else %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="{{expediente.fecha_cierre}}" readonly/>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3">
                                            Estatus: 
                                            <input type="text" class="form-control" id="estatus" name="estatus" value="{{expediente.estatus.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Creado por:
                                            <input type="text" class="form-control" id="usuario_crea" name="usuario_crea" value="{{expediente.usuario_crea.first_name}} {{expediente.usuario_crea.last_name}}" readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            Unidad: 
                                            <input type="text" class="form-control" id="unidad" name="unidad" value="{{expediente.unidad.nombre}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            Tipo de expediente:
                                            <input type="text" class="form-control" id="tipo_expediente" name="tipo_expediente" value="{{expediente.tipo_expediente.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-7">
                                            Nombre:
                                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{expediente.nombre}}" readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            Ubicación:
                                            <input type="text" class="form-control" id="ubicacion" name="ubicacion" value="{{expediente.ubicacion}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Descripción:
                                            <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{expediente.descripcion}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Asunto: 
                                            <input type="text" class="form-control" id="asunto" name="asunto" value="{{expediente.asunto}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                </fieldset>
                                <br/>
                                <fieldset id="campos">
                                    <legend>Metadatos</legend>
                                    {% for metadato in metadatos %}

                                        <div class="col-md-12">
                                            {{metadato.nombre}}:
                                            {% if metadato.tipo_dato.pk == 2 %}
                                                <label for="avatar">Seleccionar archivo:</label>
                                                <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}

                                            {% if metadato.tipo_dato.pk == 3 %}
                                                <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}

                                            {% if metadato.tipo_dato.pk == 4 %}
                                                <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" min="2018-01-01"  value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}

                                            {% if metadato.tipo_dato.pk == 5 %}
                                                <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}

                                            {% if metadato.tipo_dato.pk == 6 %}
                                                <input type="email" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}
                                            *Descripción.- {{metadato.descripcion}}
                                        </div>
                                    {% endfor %}
                                </fieldset>

								
								<br/>
								<p align="center">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#usuarios">Solicitar aprobación</button>
                                    <a href = "{% url 'mis_expedientes' %}" type="button" class="btn btn-primary" id="regresar" name="regresar">Regresar</a>
                                    <input id="subir" class="btn btn-primary" type="submit" value="Guardar"/>
								</p>
							</form>
						</div>
						
					</article>
				</section>
            </div>
		</section>

        <!-- Modal Usuarios-->
        <div class="modal fade" id="usuarios" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-tittle">Seleccionar usuarios</h2>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="tablita">
                            <thead>
                                <tr align="center">
                                    <th>
                                        <p align="center">
                                            #
                                        </p>
                                    </th>
                                    <th>
                                        <p align="center">
                                            Seleccionar
                                        </p>
                                    </th>
                                    <th>
                                        <p align="center">
                                            Usuario
                                        </p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                <tr>
                                    <td>
                                        <p align="center">
                                            {{forloop.counter}}
                                        </p>
                                    </td>
                                    <td>
                                        <p align="center">
                                            <input type="checkbox" id="{{usuario.pk}}" name="{{usuario.pk}}" class="elementTable" value="{{usuario.pk}}">
                                        </p>
                                    </td>
                                    <td>
                                        <p align="center">
                                            {{usuario.first_name}} {{usuario.last_name}}
                                        </p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    

                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" id="confirmar" type="submit">Confirmar</button>
                </div>
            </div>
        </div>
        </div>
        

{%endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

    <script type="text/javascript">
        $(function(){
            window.onload = function() {
                console.log("onload");
                $("#subir").hide();
                $("#cancelar").hide();
            }

            $('#modificar').click(function(){
                console.log("Click en modificar")
                $("#modificar").hide()
                $("#nombre").attr("readonly", false)
                $("#descripcion").attr("readonly", false)
                $("#asunto").attr("readonly", false)
                $("#ubicacion").attr("readonly", false)
                $("#subir").show()
                $("#cancelar").show()
                $("#regresar").hide()
                var ids = $(".inputClass")
                $.each(ids, function(i,value){
                    $("#"+value.id).attr("readonly", false)
                    console.log(value.id)
                });
            });

            $("#cancelar").click(function(){
                location.reload();
                console.log("Click en cancelar")
                $("#nombre").attr("readonly", true)
                $("#descripcion").attr("readonly", true)
                $("#asunto").attr("readonly", true)
                $("#ubicacion").attr("readonly", true)
                $("#subir").hide()
                $("#cancelar").hide()
                $("#modificar").show()
                $("#regresar").show()
                var ids = $(".inputClass")
                $.each(ids, function(i,value){
                    $("#"+value.id).attr("readonly", true)
                    console.log(value.id)
                });
            });

        });

        $(document).ready( function () {
            $('#tablita').DataTable({
                "scrollY": "200px",
                "scrollCollapse":true,
                "paging":false
            });
        } );

        $("#confirmar").click(function(){
            var idss = $(".elementTable")
            var seleccionados = []
            $.each(idss, function(i,value){
                if($("#"+value.id).is(':checked')) {  
                    seleccionados.push(value.id)
                }
            });
            console.log(seleccionados)
        });

    </script>

    <script src="http://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

{% endblock %}