<!--.\expediente\ver_expediente.html-->
{% extends "new_plant.html" %}

{% block titulo %}
	Expediente
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock css %}

{% block content %}

		<section class="main container">
            <div class="container">
				<section class="posts col-md-12">
					<article class="post clearfix">
                            <h1 class="mt-4"><i class="fas fa-archive"></i> Detalle del expediente</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">{{expediente.identificador}}</li>
                            </ol>
                            <!--
                                # @cambio
                                # fecha : 04/04/2020
                                # autor: lechuga
                                # Explcación: se valida si el expediente tirne algun metadato del tipo "archvo"
                                # en tal caso se le agrega enctype="multipart/form-data al formulario
                                # para que envie los archivos cargados
                                # caso contrario no se agrega enctype="multipart/form-data
                            -->
                            <form method="POST" id="forma" class="form-horizontal" action="/expedientes/asigna_expediente" enctype="multipart/form-data">    
                            <!--
                                # @anterior
                            <form method="POST" id="forma" class="form-horizontal" action="/expedientes/asigna_expediente">    
                            -->
								{% csrf_token %}

                                <input name="expediente" id="expediente" type="hidden" value="{{expediente.pk}}" />

                                {% if user_log.deputy %}
                                    <div class="row">
                                        <div class="alert alert-danger alert-dismissible fade show form-control" role="alert">
                                            <strong>No se puede crear o modificar expedientes mientras el deputy esta activo!</strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                {% endif %}

                                <fieldset>
                                    <legend><strong>Datos generales</strong></legend>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <strong>Identificador: </strong>
                                            <input type="text" class="form-control" id="identificador" name="identificador" value="{{expediente.identificador}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Fecha de creación:</strong>
                                            <input type="text" class="form-control" id="fecha_creacion" name="fecha_creacion" value="{{expediente.fecha_creacion}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Fecha de cierre: </strong>
                                            {% if expediente.fecha_cierre == None %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="" readonly/>
                                            {% else %}
                                                <input type="text" class="form-control" id="fecha_cierre" name="fecha_cierre" value="{{expediente.fecha_cierre}}" readonly/>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Estatus: </strong>
                                            <input type="text" class="form-control" id="estatus" name="estatus" value="{{expediente.estatus.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>Creado por:</strong>
                                            <input type="text" class="form-control" id="usuario_crea" name="usuario_crea" value="{{expediente.usuario_crea.first_name}} {{expediente.usuario_crea.last_name}} {{expediente.usuario_crea.amaterno}}" readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            <strong>Unidad: </strong>
                                            <input type="text" class="form-control" id="unidad" name="unidad" value="{{expediente.unidad.nombre}}" readonly/>
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Tipo de expediente:</strong>
                                            <input type="text" class="form-control" id="tipo_expediente" name="tipo_expediente" value="{{expediente.tipo_expediente.nombre}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <strong>Nombre:</strong>
                                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{expediente.nombre}}" readonly/>
                                        </div>
                                        <div class="col-md-5">
                                            <strong>Ubicación:</strong>
                                            <input type="text" class="form-control" id="ubicacion" name="ubicacion" value="{{expediente.ubicacion}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong>Descripción:</strong>
                                            <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{expediente.descripcion}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong>Asunto: </strong>
                                            <input type="text" class="form-control" id="asunto" name="asunto" value="{{expediente.asunto}}" readonly/>
                                        </div>
                                    </div>
                                    <br/>
                                </fieldset>

                                {% for comp in comprobante %}
                                <br/>
                                    <input type="hidden" id="subtotal_xml" name="subtotal_xml" value="{{comp.SubTotal}}"/>
                                    <input type="hidden" id="total_xml" name="total_xml" value="{{comp.Total}}"/>
                                    
                                    {% if comp.Descuento %}
                                        <input type="hidden" id="descuento_xml" name="descuento_xml" value="{{comp.Descuento}}"/>
                                    {% endif %}
                                                <fieldset>
                                                    <legend><strong>Resumen factura</strong></legend>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <strong>Fecha: </strong>
                                                            <input type="text" class="form-control" id="fecha_xml" name="fecha_xml" value="{{comp.Fecha}}" readonly/>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <strong>Folio:</strong>
                                                            <input type="text" class="form-control" id="folio_xml" name="folio_xml" value="{{comp.Folio}}" readonly/>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <strong>Condiciones de pago: </strong>
                                                            <input type="text" class="form-control" id="pago_xml" name="pago_xml" value="{{comp.CondicionesDePago}}" readonly/>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <strong>moneda:</strong>
                                                            <input type="text" class="form-control" id="moneda_xml" name="moneda_xml" value="{{comp.Moneda}}" readonly/>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <strong>Tipo de comprobante:</strong>
                                                            <input type="text" class="form-control" id="comprobante_xml" name="comprobante_xml" value="{{comp.TipoDeComprobante}}" readonly/>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <strong>Metodo de pago:</strong>
                                                            <input type="text" class="form-control" id="metodo_xml" name="metodo_xml" value="{{comp.MetodoPago}}" readonly/>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <strong>lugar de expedición:</strong>
                                                            <input type="text" class="form-control" id="lugar_xml" name="lugar_xml" value="{{comp.LugarExpedicion}}" readonly/>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                        {% endfor %}
                                        
                                    
                                        {% for em in emisor %}
                                            <br/>
                                            <fieldset>
                                                <legend><strong>Datos del emisor</strong></legend>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <strong>R.F.C.: </strong>
                                                        <input type="text" class="form-control" id="rfc_emisor" name="identificador" value="{{em.Rfc}}" readonly/>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <strong>Nombre:</strong>
                                                        <input type="text" class="form-control" id="nombre_emisor" name="fecha_creacion" value="{{em.Nombre}}" readonly/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <strong>Regimen fiscal: </strong>
                                                        <input type="text" class="form-control" id="regimen_emisor" name="fecha_cierre" value="{{em.RegimenFiscal}}" readonly/>
                                                    </div>
                                                </div>
                                            </fieldset>

                                        {% endfor %}

                                        

                                        {% for rec in receptor %}
                                        <br>

                                            <fieldset>
                                                <legend><strong>Datos del receptor</strong></legend>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <strong>R.F.C.: </strong>
                                                        <input type="text" class="form-control" id="rfc_receptor" name="identificador" value="{{rec.Rfc}}" readonly/>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <strong>Nombre:</strong>
                                                        <input type="text" class="form-control" id="nombre_receptor" name="fecha_creacion" value="{{rec.Nombre}}" readonly/>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <strong>Regimen fiscal: </strong>
                                                        <input type="text" class="form-control" id="usoCFDI_receptor" name="fecha_cierre" value="{{rec.UsoCFDI}}" readonly/>
                                                    </div>
                                                </div>
                                            </fieldset>

                                        {% endfor %}

                                        

                                        {% if conceptos %}
                                        
                                        <br>
                                        <fieldset>
                                            <legend><strong>Conceptos</strong></legend>
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                
                                            </div>
                                            <div class="card-body">
                                                <table id="datatablesSimple">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Clave</th>
                                                            <th>Descripción</th>
                                                            <th>Cantidad</th>
                                                            <th>Unidad</th>
                                                            <th>Valor unitario</th>
                                                            <th>Importe</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Clave</th>
                                                            <th>Descripción</th>
                                                            <th>Cantidad</th>
                                                            <th>Unidad</th>
                                                            <th>Valor unitario</th>
                                                            <th>Importe</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        {% for con in conceptos %}
                                                            <tr>
                                                                <td align="center" width="50">{{forloop.counter}}</td>
                                                                <td width="100" align="center">
                                                                    {{con.ClaveProdServ}}
                                                                </td>
                                                                <td>
                                                                    {{con.Descripcion}}
                                                                </td>
                                                                <td width="100" align="center">
                                                                    {{con.Cantidad}}
                                                                </td>
                                                                <td width="100" align="center">
                                                                    {{con.Unidad}}
                                                                </td>
                                                                <td width="100" align="center">
                                                                    {{con.ValorUnitario}}
                                                                </td>
                                                                <td width="100" align="center">
                                                                    {{con.Importe}}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                            <tr>
                                                                {% for comp in comprobante %}
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td align="center"><strong>Subtotal</strong></td>
                                                                    <td align="center"><strong>{{comp.SubTotal}}</strong></td>
                                                                {% endfor %}
                                                            </tr>
                                                            {% for val in comprobante %}
                                                                {% if val.Descuento != False %}
                                                                <tr>
                                                                    {% for comp in comprobante %}
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td align="center"><strong>Descuento</strong></td>
                                                                        <td align="center"><strong>{{comp.Descuento}}</strong></td>
                                                                    {% endfor %}
                                                                </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            
                                                            <tr>
                                                                {% for d in traslados %}
                                                                    {% if forloop.last %}
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td align="center"><strong>IVA</strong></td>
                                                                        <td align="center"><strong>{{d.Importe}}</strong></td>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                
                                                            </tr>
                                                            <tr>
                                                                {% for comp in comprobante %}
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td align="center"><strong>Total</strong></td>
                                                                    <td align="center"><strong>{{comp.Total}}</strong></td>
                                                                {% endfor %}
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        </fieldset>
                                        {% endif %}
                                        
                                <fieldset id="campos">
                                    <legend><strong>Metadatos</strong></legend>
                                    {% for metadato in metadatos %}
                                        <div class="col-md-12">
                                            <strong>{{metadato.nombre}}:</strong>
                                        <!--
                                            # @cambio
                                            # fecha : 31/03/2020
                                            # autor: lechuga
                                            # Explcación: se cambia para que utilice el nombre del estatus enligar del pk
                                        -->
                                        {% if metadato.tipo_dato.tipo == "Archivo" %}
                                            {% if metadato.obligatorio == True %}
                                                <label for="archivo">Seleccionar archivo:</label>
                                                <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="{{metadato.valor}}" class="form-control inputClass archive" required readonly/>
                                            {% else %}
                                                <label for="archivo">Seleccionar archivo:</label>
                                                <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="image/png, image/jpeg" value="{{metadato.valor}}" class="form-control inputClass archive" readonly/>
                                            {% endif %}
                                            <a href="{{metadato.valor}}" target="_blank">{{metadato.valor}}:</a>
                                            <br>
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "XML" %}
                                            {% if metadato.obligatorio == True %}
                                                <label for="xml">Seleccionar XML:</label>
                                                <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="text/xml" value="{{metadato.valor}}" class="form-control inputClass archive" required readonly/>
                                            {% else %}
                                                <label for="xml">Seleccionar XML:</label>
                                                <input type="file" id="{{metadato.pk}}" name="{{metadato.pk}}" accept="text/xml" value="{{metadato.valor}}" class="form-control inputClass archive" readonly/>
                                            {% endif %}
                                            <a href="{{metadato.valor}}" target="_blank">{{metadato.valor}}:</a>
                                            <br>
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Numérico" %}
                                            {% if metadato.obligatorio == True %}
                                                <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                            {% else %}
                                                <input type="number" id="{{metadato.pk}}" name="{{metadato.pk}}" min="0" max="10000000" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Fecha" %}
                                            {% if metadato.obligatorio == True %}
                                                <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" min="1900-01-01"  value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                            {% else %}
                                                <input type="date" id="{{metadato.pk}}" name="{{metadato.pk}}" min="1900-01-01"  value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Texto" %}
                                            {% if metadato.obligatorio == True %}
                                                <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                            {% else %}
                                                <input type="text" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}
                                        {% endif %}

                                        {% if metadato.tipo_dato.tipo == "Correo electrónico" %}
                                            {% if metadato.obligatorio == True %}
                                                <input type="email" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" required readonly/>
                                            {% else %}
                                                <input type="email" id="{{metadato.pk}}" name="{{metadato.pk}}" value="{{metadato.valor}}" class="form-control inputClass" readonly/>
                                            {% endif %}
                                        {% endif %}
                                            *Descripción.- {{metadato.descripcion}}
                                        </div>
                                    {% endfor %}
                                </fieldset>

                                <input type="hidden" id="users" name="users" value="">
								
								<br/>
								<p align="center">
                                    {% if expediente.usuario_anterior %}
                                        <a href = "javascript: if(confirm('Deseas aceptar el expediente: {{expediente.identificador}}??')) window.location='{% url "aceptar_expediente" pk=expediente.id %}'" type="button" class="btn btn-primary" title="Aceptar">Aceptar expediente</a>
                                        <a href = "/expedientes/mis_expedientes" type="button" class="btn btn-primary">Regresar</a>
                                    {% else %}
                                        
                                        {% if bandera == True %}
                                            <a href = "{% url 'mis_expedientes' %}" type="button" class="btn btn-secondary id="regresar" name="regresar">Regresar</a>
                                        {% else %}
                                            <a href = "/expedientes/recibidos_deputy" type="button" class="btn btn-secondary">Regresar</a>
                                        {% endif %}
                                        {% if expediente.estatus.nombre == "Creado" %}
                                            {% if user_log.deputy == False %}
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#usuarios">Solicitar aprobación</button>
                                            {% endif %}
                                        {% endif %}
                                        <input id="subir" class="btn btn-primary" type="submit" value="Guardar"/>
                                    {% endif %}
								</p>

                                {% if seleccionados %}
                                    <fieldset id="campos">
                                    <legend><strong>Asignado</strong></legend>

                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <i class="fa fa-users"></i>
                                            <strong>
                                                Usuarios
                                            </strong>
                                        </div>
                                        <div class="card-body">
                                            <table id="datatablesSimple">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Usuario</th>
                                                        <th>Estatus</th>
                                                        <th>Motivo</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Usuario</th>
                                                        <th>Estatus</th>
                                                        <th>Motivo</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    {% for seleccionado in seleccionados %}
                                                        <tr>
                                                            <td>{{forloop.counter}}</td>
                                                            <td>{{seleccionado.id_usuario.first_name}} {{seleccionado.id_usuario.last_name}} {{seleccionado.id_usuario.amaterno}}</td>
                                                            <td>{{seleccionado.id_estatus.nombre}}</td>
                                                            <td>
                                                                {% if seleccionado.motivo_rechazo == None %}
                                                                    --
                                                                {% else %}
                                                                    {{seleccionado.motivo_rechazo}}
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    </fieldset>
                                {% endif %}
							</form>
					</article>
				</section>
            </div>
		</section>

        <!-- Modal Usuarios-->
        <div class="modal fade" id="usuarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-tittle">Seleccionar usuarios</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="tablita">
                            <thead>
                                <tr align="center">
                                    <th>
                                        <p align="center">
                                            #
                                        </p>
                                    </th>
                                    <th>
                                        <p align="center">
                                            Seleccionar
                                        </p>
                                    </th>
                                    <th>
                                        <p align="center">
                                            Usuario
                                        </p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                    
                                    {% if request.user.pk != usuario.pk %}
                                        <tr>
                                            <td>
                                                <p align="center">
                                                    {{forloop.counter}}
                                                </p>
                                            </td>
                                            <td>
                                                {% for seleccionado in seleccionados %}
                                                    {% if usuario.pk == seleccionado.id_usuario.pk %}
                                                    
                                                    {% endif %}
                                                {% endfor %}
                                                <p align="center">
                                                    <input type="checkbox" id="{{usuario.pk}}" name="{{usuario.pk}}" class="elementTable" value="{{usuario.pk}}">
                                                </p>
                                            </td>
                                            <td>
                                                <p align="center">
                                                    {{usuario.first_name}} {{usuario.last_name}} {{usuario.amaterno}}
                                                </p>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" id="confirmar" type="submit">Confirmar</button>
                </div>
            </div>
        </div>
        </div>
        

{%endblock %}

{% block scripts %}

    <script type="text/javascript">
        $(function(){
            window.onload = function() {
                console.log("onload");
                $("#subir").hide();
                $("#cancelar").hide();
                $(".archive").hide();
            }

            $('#modificar').click(function(){
                console.log("Click en modificar")
                $("#modificar").hide()
                $("#nombre").attr("readonly", false)
                $("#descripcion").attr("readonly", false)
                $("#asunto").attr("readonly", false)
                $("#ubicacion").attr("readonly", false)
                $("#subir").show()
                $("#cancelar").show()
                $("#regresar").hide()
                $(".archive").show();
                var ids = $(".inputClass")
                $.each(ids, function(i,value){
                    $("#"+value.id).attr("readonly", false)
                    console.log(value.id)
                });
            });

            $("#cancelar").click(function(){
                location.reload();
                console.log("Click en cancelar")
                $("#nombre").attr("readonly", true)
                $("#descripcion").attr("readonly", true)
                $("#asunto").attr("readonly", true)
                $("#ubicacion").attr("readonly", true)
                $("#subir").hide()
                $("#cancelar").hide()
                $("#modificar").show()
                $("#regresar").show()
                var ids = $(".inputClass")
                $.each(ids, function(i,value){
                    $("#"+value.id).attr("readonly", true)
                    console.log(value.id)
                });
            });

        });

        $(document).ready( function () {
            $('#tablita').DataTable({
                "scrollY": "200px",
                "scrollCollapse":true,
                "paging":false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
            });
        } );

        $(document).ready( function () {
            $('#seleccionados').DataTable({
                "bFilter": false,
                "bInfo": false,
                "paging":false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
            });
        } );

        $("#confirmar").click(function(){
            var idss = $(".elementTable")
            var seleccionados = []
            $.each(idss, function(i,value){
                if($("#"+value.id).is(':checked')) {  
                    seleccionados.push(value.id)
                }
            });
            $('#users').val(seleccionados)
            console.log(seleccionados)
            if (seleccionados.length != 0){
                $("#forma").submit();
            } else {
                alert("No se han seleccionado usuarios");
            }
        });

    </script>

    <script src="http://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

{% endblock %}