{% extends "new_plant.html" %}
{% block titulo %}
	Usuario
{% endblock titulo %}

{% block content %}
	<section class="main container">
		<h1 class="mt-4"><i class="fa fa-users"></i> {{mensaje}}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{usuario.first_name}} {{usuario.last_name}} {{usuario.amaterno}}</li>
        </ol>
			<form method="POST">
				{% csrf_token %}
				
					<div class="row">
							<div class="col-md-4">
								<strong>Nombre:</strong>
								<input type="text" class="form-control" id="first_name" name="first_name" value="{{usuario.first_name}}" required/>
							</div>
							<div class="col-md-4">
								<strong>Apellido paterno:</strong>
								<input type="text" class="form-control" id="last_name" name="last_name" value="{{usuario.last_name}}" required/>
							</div>
							<div class="col-md-4">
								<strong>Apellido materno:</strong>
								<input type="text" class="form-control" id="amaterno" name="amaterno" value="{{usuario.amaterno}}" required/>
							</div>
					</div>

					<div class="row">
							<div class="col-md-8">
								<strong>Unidad:</strong>
								<select id="unidad_user" name="unidad_user" class="form form-control" required>
									<option  value="" selected="selected">--- SELECT ---</option>
									{% for unidad in unidades %}
										<option value="{{unidad.pk}}"
											{% if unidad == usuario.unidad_user %}selected="selected"{% endif %}>
											{{unidad.nombre|capfirst}}
										</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-md-2">
								<strong>Teléfono:</strong>
								<input type="text" class="form-control" id="telefono" name="telefono" value="{{usuario.telefono}}" required/>
							</div>
							<div class="col-md-2">
								<strong>Extensión:</strong>
								<input type="text" class="form-control" id="extension" name="extension" value="{{usuario.extension}}"/>
							</div>
					</div>

					<div class="row">
							<div class="col-md-6">
								<strong>Jefe inmediato:</strong>
								<select id="jefe_inmediato" name="jefe_inmediato" class="form form-control" required>
									<option  value="" selected="selected">--- SELECT ---</option>
									{% for usr in usuarios %}
										<option value="{{usr.pk}}"
											{% if usr == usuario.jefe_inmediato %}selected="selected"{% endif %}>
											{{usr.first_name|capfirst}} {{usr.last_name|capfirst}}
										</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-md-6">
								<strong>Tipo de cuenta:</strong>
								<select id="rol" name="rol" class="form form-control" required>
									<option  value="" selected="selected">--- SELECT ---</option>
									{% for rol in roles %}
										<option value="{{rol.pk}}"
											{% if rol == usuario.rol %}selected="selected"{% endif %}>
											{{rol.nombre|capfirst}}
										</option>
									{% endfor %}
								</select>
							</div>
					</div>

					<div class="row">
						<div class="col-md-12">
								<strong>Correo electrónico:</strong>
								<input type="email" class="form-control" id="email" name="email" value="{{usuario.email}}" required/>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
								<strong>Nombre de usuario:</strong>
								<input type="text" class="form-control" id="username" name="username" value="{{usuario.username}}" required/>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
								<strong>Contraseña:</strong>
								<input type="password" class="form-control" id="password" name="password" value="" required/>
						</div>
					</div>
					{% if usuario.is_active %}
						<label><input type="checkbox" id="is_active" name="is_active" checked> Activo</label><br>
					{% else %}
						<label><input type="checkbox" id="is_active" name="is_active"> Activo</label><br>
					{% endif %}
					
					
					<a href = "/usuarios/" type="button" class="btn btn-secondary">Regresar</a>
					<input type = "submit" class="btn btn-primary" value = "Guardar" />
			</form>
	</section>
{% endblock %}

{% block scripts %}

{% endblock %}