{% extends "base.html" %}

{% block titulo %}
	Metadatos
{% endblock titulo %}

{% block content %}

	<div class="container">
		<h1>{{mensaje}}</h1>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-12">
					<article class="post clearfix">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr align="center">
										<th>#</th>
										<th>Nombre</th>
										<th>Valor</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% for metadato in metadatos %}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{metadato.nombre}}</td>
											<td>{{metadato.descripcion}}</td>
											<td>
												<a href = "javascript: if(confirm('Deseas editar {{metadato}}??')) window.location='{% url "editar_metadato" pk=metadato.id %}'" type="button" class="btn btn-primary glyphicon glyphicon-pencil"></a>
												<a href = "javascript: if(confirm('Deseas eliminar {{metadato}}??')) window.location='{% url "eliminar_metadato" pk=metadato.id %}'" type="button" class="btn btn-primary glyphicon glyphicon-remove"></a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</article>
				</section>
			</div>
		</section>
		<p align="center">
			<button class="btn btn-primary" onclick="goBack()">Regresar</button>
			<a href = "{% url 'nuevo_metadato' %}">Nuevo metadato</a>
		</p>
	</div>

{% endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

{% endblock %}