{% extends "new_plant.html" %}

{% block titulo %}
	Metadatos
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="http://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock css %}

{% block content %}

	<div class="container">
		<h1 class="mt-4"><i class="fas fa-archive"></i> Agregar metadatos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">{{tipo.nombre}}</li>
        </ol>

		<section class="main container">
			<div class="row">
				<section class="posts col-md-12">
					<article class="post clearfix">

						<div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-archive"></i>
								<strong>
                                	Metadatos
								</strong>
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
											<th>#</th>
											<th>Tipo</th>
											<th>Nombre</th>
											<th>Descripción</th>
											<th>Obligatorio</th>
											<th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
											<th>Tipo</th>
											<th>Nombre</th>
											<th>Descripción</th>
											<th>Obligatorio</th>
											<th>Acciones</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for metadato in metadatos %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{metadato.tipo_dato}}</td>
												<td>{{metadato.nombre}}</td>
												<td>{{metadato.descripcion}}</td>
												<td>
													{% if metadato.obligatorio == True %}
														Si
													{% else %}
														No
													{% endif %}
												</td>
												<td>
													<a href = "javascript: if(confirm('Deseas editar {{metadato}}??')) window.location='{% url "editar_metadato" pk=metadato.id %}'" type="button" class="btn btn-primary btn-sm" title="Editar"><i class="fas fa-pencil-alt"></i></a>
													<a href = "javascript: if(confirm('Deseas eliminar {{metadato}}??')) window.location='{% url "eliminar_metadato" pk=metadato.id %}'" type="button" class="btn btn-primary btn-sm" title="Desactivar"><i class="fas fa-remove"></i></a>
												</td>
											</tr>
										{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

					</article>
				</section>
			</div>
		</section>
		<p align="center">
			<a href = "javascript: if(confirm('Deseas terminar??')) window.location='{% url "listar_tipos_exp" %}'" type="button" class="btn btn-primary">Terminar</a>
			<a href = '{% url "metadato_tipo_exp" pk=tipo.pk %}' type="button" class="btn btn-primary">Nuevo metadato</a>
		</p>
	</div>

{% endblock %}

{% block scripts %}

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

	<script type="text/javascript">

		$(document).ready( function () {
			$('#tablita').DataTable({
				"paging":false,
				"language": {
					"url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
				},
			});
		} );

	</script>

	<script src="http://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

{% endblock %}